<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Northwind</title>
        <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">
        <link href="/css/bootstrap.min.css" rel="stylesheet">

        <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
            font-size: 3.5rem;
            }
        }
        </style>
    </head>
    <body>

    <header>
<div class="container">
    <main>
        <div class="py-5 text-center">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Cliente <%= @oneCustomer.CustomerID %></h1>
                <p>
                    <a href="/products" class="btn btn-primary my-2">Lista de Produtos</a>
                    <a href="/customers" class="btn btn-secondary my-2">Lista de Clientes</a>
                    <a href="/insert/customers" class="btn btn-primary my-2">Inserir Cliente</a>
                    <a href="/orders" class="btn btn-secondary my-2">Lista de Pedidos</a>
                    <a href="/report" class="btn btn-primary my-2">Relatório de Pedidos</a>
                </p>
            </div>
        </div>

        <div class="row g-5">
        <div class="col-md-5 col-lg-4 order-md-last">
            <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                <h6 class="my-0">Nome</h6>
                <small class="text-muted"><%= @oneCustomer.ContactName %></small>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                <h6 class="my-0">Telefone</h6>
                <small class="text-muted"><%= @oneCustomer.Phone %></small>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                <h6 class="my-0">Empresa</h6>
                <small class="text-muted"><%= @oneCustomer.CompanyName %></small>
                </div>
                <%# <span class="text-muted">$5</span> %>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                <h6 class="my-0">Endereço</h6>
                <small class="text-muted"><%= @oneCustomer.Address %></small>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                <h6 class="my-0">Cidade</h6>
                <small class="text-muted"><%= @oneCustomer.City %></small>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                <h6 class="my-0">CEP</h6>
                <small class="text-muted"><%= @oneCustomer.PostalCode %></small>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                <h6 class="my-0">País</h6>
                <small class="text-muted"><%= @oneCustomer.Country %></small>
                </div>
            </li>
        </div>
        <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Edição de informações</h4>
            <input type="hidden" class="form-control" id="CustomerID" value='<%= @oneCustomer.CustomerID %>'>
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="firstName" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="ContactName" placeholder="" value="" required="">
                    </div>

                    <div class="col-sm-6">
                        <label for="phone" class="form-label">Telefone</label>
                        <input type="text" class="form-control" id="Phone" placeholder="" value="" required="">
                    </div>

                    <div class="col-12">
                        <label for="company" class="form-label">Empresa</label>
                        <input type="text" class="form-control" id="CompanyName" placeholder="" required="">
                    </div>

                    <div class="col-12">
                        <label for="address" class="form-label">Endereço</label>
                        <input type="text" class="form-control" id="Address" placeholder="" required="">
                    </div>

                    <div class="col-12">
                        <label for="city" class="form-label">Cidade</label>
                        <input type="text" class="form-control" id="City" placeholder="" required="">
                    </div>

                    <div class="col-12">
                        <label for="country" class="form-label">País</label>
                        <input type="text" class="form-control" id="Country" placeholder="" required="">
                    </div>

                    <div class="col-12">
                        <label for="cep" class="form-label">CEP</label>
                        <input type="text" class="form-control" id="PostalCode" placeholder="" required="">
                    </div>
                    <div class="btn-group">
                        <button type="submit" onclick="editCustomer()" id="btn-send-data" class="w-100 btn btn-primary btn-lg">Salvar alteração</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    </div>


    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/northwind.js"></script>
    </body>
</html>
