<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Northwind</title>
        <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">
        <link href="/css/bootstrap.min.css" rel="stylesheet">

        <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
            font-size: 3.5rem;
            }
        }
        </style>
    </head>
    <body>

    <header>
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Cliente <%= @oneCustomer.CustomerID %></h1>
                    <p>
                        <a href="#" class="btn btn-primary my-2">Lista de Produtos</a>
                        <a href="#" class="btn btn-secondary my-2">Lista de Clientes</a>
                    </p>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                    <!-- start here -->
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title><%= @oneCustomer.CustomerID %></title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Numero do cliente: <%= @oneCustomer.CustomerID %></text></svg>
                            <div class="card-body">
                                <p class="card-text">Nome do Cliente: <%= @oneCustomer.ContactName %></p>
                                <p class="card-text">Telefone: <%= @oneCustomer.Phone %></p>
                                <p class="card-text">Empresa: <%= @oneCustomer.CompanyName %></p>
                                <p class="card-text">Cidade: <%= @oneCustomer.City %></p>
                                <p class="card-text">CEP: <%= @oneCustomer.PostalCode %></p>
                                <p class="card-text">País: <%= @oneCustomer.Country %></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <form action="/customers/<%= @oneCustomer.CustomerID %>/edit">
                                            <button type="submit" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
